<div class="childContainer">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-5 from-group">
                        <label forn="name">
                            Name
                        </label>
                        <input type="text" id="name" class="form-control">
                    </div>
                    <div class="col-sm-2 from-group">
                        <label forn="Amount">
                            Amount
                        </label>
                        <input type="text" id="number" class="form-control">
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-xs-12">
                        <button class="btn btn-success" style="margin-left:5px" type="submit">Add</button>
                        <button class="btn btn-danger" type="submit">Delete</button>    
                        <button class="btn btn-primary" type="submit">Clear</button>
                    </div>    
                </div>
            </form>
        </div>
    </div>
</div>